/* popsicle.module.css */
.container {
  width: 40%;
  margin: 4em auto;
}

.path {
  stroke: #ffffff;
  stroke-width: 300px;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}

.drop, .stick, .inside-r, .inside-l, .outline {
  animation: offset 2s linear forwards;
}

.outline {
  stroke-dasharray: 1020px;
  stroke-dashoffset: 1020px;
}

.stick {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation-delay: 1.75s;
}

.inside-l {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation-delay: 1s;
}

.inside-r {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
}

.drop {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation-delay: 2.5s;
}
